/* #transferAmount {
    width: 300px;
    height: 40px;
    padding: 15px;
    font-size: 18px;
    border-radius: 25px;
}

#transferFunds {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(45deg, #007bff, #00bfff);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#transferfunds{
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(45deg, #007bff, #00bfff);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#video{
    width: 300px; 
    height: 300px;
} */
.BlockchainPayment{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.BlockchainPayment button{
    margin : 10px 0px
}
